<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Jekyll</string>
	<key>ordering</key>
	<array>
		<string>B6A7C3A7-CA27-4842-A882-4F16C30D1EAE</string>
		<string>63E974A6-29C1-4FF8-A290-E07C3F5651BC</string>
		<string>95B0B966-4F18-4477-8DA3-0366235541ED</string>
	</array>
	<key>uuid</key>
	<string>8B52A0A5-2229-44A5-BE86-733BA055CA8C</string>
</dict>
</plist>
