<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Jekyll</string>
	<key>ordering</key>
	<array>
		<string>B6A7C3A7-CA27-4842-A882-4F16C30D1EAE</string>
		<string>FB00DEAE-BC80-4737-BD7F-94B5226658E4</string>
		<string>95B0B966-4F18-4477-8DA3-0366235541ED</string>
		<string>E0D3E4B1-95DA-4A6F-B8A2-4C0F84564FF7</string>
	</array>
	<key>uuid</key>
	<string>8B52A0A5-2229-44A5-BE86-733BA055CA8C</string>
</dict>
</plist>
