<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>if [[ ! -f "$TM_NEW_FILE" ]]; then
   TM_YEAR=`date +%Y` \
   TM_DATE=`date +%Y-%m-%d` \
   perl -pe 's/\$\{([^}]*)\}/$ENV{$1}/g' \
      &lt; post.markdown &gt; "$TM_NEW_FILE"
fi</string>
	<key>extension</key>
	<string>markdown</string>
	<key>name</key>
	<string>New Post</string>
	<key>uuid</key>
	<string>63E974A6-29C1-4FF8-A290-E07C3F5651BC</string>
</dict>
</plist>
